.vscode/
*.code-workspace
*.log
.vs/

/.vscode-oss/
/.vscode-test/

.ipynb_checkpoints/
*.ipynb_metadata.json

# Python 相关
__pycache__/
*.pyd
*.pyo
*.pyc
*.so
*.dylib
env/
venv/
ENV/
.venv/
.env

*.npz
*.npy
*.csv
*.h5
*.json
*.pkl

*.pth
*.pt
*.ckpt

*.tmp
*.cache
*.swp
*.swo
*.swn
*.swo

 